.daily-image{
    width: 30px;
    height: 30px;
}

.daily-item{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 20px;
    font-weight: 600;
    color: #374599;
    justify-content: space-evenly;
    width: 300px;
    align-items: center;
}


.daily-forecast{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}

.daily{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 20px;
    
}
